<!DOCTYPE html>
<html>
	<head>
		<title> Bagit </title>
		<meta charset = "UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style = "background-image:url('back.jpg')">
		<h1 style = "color: rgba(255,255,255,1); text-align: center; font-size: 60px; "> BagIT </h1>
		<h3 style = "text-align: center; color: rgba(255,255,255,1); "> We take care of your bags </h3>
		<form action = "http://localhost:5000/login" method = "post" align = center>
		  <p>Airline:
		  <input type="text" name="airline"></p><br>
		 <p> Flight :
		  <input type="text" name="flight_number"></p><br>
		  <p>Bitbox:
		  <input type = "text" name = "bitid"></p>
		  <input type="submit" value ="allot">
		</form>
		
	</body>
</html>